<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Pikete</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'DIAMANTE RIFA'})">Rifa</a></li> 
		</ul>
	</div>
</div>

<div class="row">
	<% people.forEach(function(item){ %>
		<div class="col s4 m2">
			<div class="card person center-align">
				<a href="#!" class="green-text" onclick="apretaste.send({command:'CHAT', data:{'userId':'@<%= item.username %>'}})">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40"></div>
					<div class="<%= item.gender %>">@<%= item.username %></div>
					<small><i class="material-icons tiny">flash_on</i><%= item.experience %></small>
				</a>
			</div>
		</div>
	<% }) %>
</div>