<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'DIAMANTE GRUPO'})">Pikete</a></li>
			<li class="tab"><a href="#" class="active">Rifa</a></li> 
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<img class="responsive-img z-depth-1 delete-if-no-image" src="{{APP_SERVICE_PATH}}/images/premio.png" alt="Artículo a rifar">

		<p><%= raffle.description %></p>

		<p>Sus chances de ganar dependen de su experiencia y cantidad de participantes. Cierra el <%= moment(raffle.end_date).format('D [de] MMMM [del] YYYY') %> a las 11:59 PM</p>

		<div class="chip"><%= chances %>% chances de ganar</div>
	</div>
</div>

<% if(winners.length > 0) { %>
	<div class="row">
		<% winners.forEach(function(item){ %>
			<div class="col s4 m2" onclick="apretaste.send({command:'PERFIL', data:{'username':'<%= item.username %>'}})">
				<div class="card user-card center-align">
					<div class="content">
						<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40" online="1"></div>
						<span class="<%= item.gender %>">@<%= short(item.username) %></span>
					</div>
					<div class="action grey lighten-2">
						<small><%= moment(item.end_date).format('MMMM') %></small>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
<% } %>
